/*-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---
    Project     : RealT personal dashboard (RPD)
    Purpose     : build an advanced personal dashboard for RealT tokens management
    File        : main.css
    Description : main css file for the RPD project
    Creation    : 2023-06-08
    Author      : CoinMachine
    Last update : 2023-06-09
 --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/*    Containers    */

/*      NAVIGATION */

/*      Inputs elements    */

/*      Buttons    */

/*      Regular tags    */

/*      USER TABLES    */

/*      COPY/PATE CLASSES AND STUFF    */

/*      User classes   */

/*    Animations    */
